body{
	background-image: linear-gradient(45deg,rgba(7, 86, 145, 0.3),rgba(11, 86, 145, 0.3));
}
h1{
	text-align:center;
	color:#0a0a0a;
	font-weight: bolder;
}
nav{
	text-align: center;
}
a{
    text-decoration:none;
    color:#0a0a0a;
    font-weight: bold;
}
#img1{
    height:400px; 
    width:600px;
}
.p1,.p2{
	text-indent:2px;
	font-style: italic;
	text-align: justify;
}
.div1{
	width: 620px ; 
	height: 90%;
	text-decoration: none;

}
h2{
	font-weight: bolder;
	text-align: center;
}
img{
	height:460px;
	 width:600px;
}
.div3{
	width:600px; 
	float: right;
	margin-top:-690px;
	
}
