nav{
    border: 1px solid rgb(134, 87, 87);
    background-color:rgb(19, 10, 51);
    height: 100px;
    width: 100%;
    text-align:center;
}
div{
    position:fixed;
    width: 100%;
    text-align: center;
    margin-top:-9px;
    text-align:center;
}
a{
    text-transform: uppercase;
    text-weight: bold;
    text-decoration: none;
    text-align:center;
}
h2{
    text-align: center;
    text-transform: uppercase;
    font-family: sans-serif;
    
}
p{
    font-weight: 400;
    text-transform: uppercase;
    font-family: sans-serif;


}
img{
    width: 600px;
    height:600px;
}